.collapse {
    margin-left: auto;
}

.col-md-6 {
    padding-bottom: 60px;
}
footer {
   padding-top: 200px; 
}
@media screen and (max-width: 992px) {
    div.container {
        max-width: 60%;
        max-height: 90%;
    }
}
.container {
    padding-top: 60px;
}